{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}

{% block scripts %}
    <script src="{{ STATIC_URL }}js/eodPrimitives.js"></script>
    <script src="{{ STATIC_URL }}js/pyramid.js"></script>
    <script src="{{ STATIC_URL }}js/init.js"></script>

    <style>
        body {
            font-family: Monospace,serif;
            background: #000/* url(/static/images/fol_bg.png32x37.jpg)*/;
            margin: 0;
            overflow: visible;
            height: 3000px;
        }

        canvas {
            position: fixed;
        }
    </style>

{% endblock %}


{% block main %}

{% endblock %}

